html {
  overflow-y: scroll;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/bg.jpg) no-repeat 50%;
  background-size: cover;
  z-index: -1;
}

.button-wrapper {
  display: block;
  text-align: center;
}
.button {
  display: flex;
  border: none;
  font-family: Roboto;
  background-color: #7955ff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border-radius: 53px;
  margin-bottom: 60px;
  box-shadow:  2px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  font-size: 18px;
  color: white;
  padding-right: 24px;
  padding-left: 24px;
  padding-top:20px;
  padding-bottom:20px;
  vertical-align: middle;
  align-items: center;
  width: auto;
  transition: background-color .2s,
  border-color .2s,
  color .2s
}
.button:hover {
  background: #15486D;
}
.div-center-wrapper-button{
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
  margin-bottom: 32px;
  font-weight: 300;
}

.wrap-div {
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  visibility: visible !important;
  background: transparent;
}

.wrap-div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eaf5ff;
  transform: skewY(-1deg);
}

.cont {
  position: relative;
  z-index: 5;
}